.profile{
    display: flex;
    width: 500px;
    place-content: center;
    margin-bottom: 30px;
    border-bottom: 1px solid white;
}
.profile p{
    flex: 1;
    margin: 0px;
}
.profile button{
    width: 100px;
    cursor: pointer;
}
.profile button + button{
    margin-left: 10px;
}